@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #e9edf0;
}

.tableX .blue {
    color: #185875;
}

.yellow {
    color: #3f4961;
}

.tableX .containerD th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #e9edf0;
}

.tableX .containerD td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #e9edf0;
    -moz-box-shadow: 0 2px 2px -2px #e9edf0;
    box-shadow: 0 2px 2px -2px #e9edf0;
}

.tableX .containerD {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

    .tableX .containerD td, .containerD th {
        padding-bottom: 2%;
        padding-top: 2%;
        padding-left: 2%;
    }

    /* Background-color of the odd rows */
    .tableX .containerD tr:nth-child(odd) {
        background-color: #606d87;
    }

    /* Background-color of the even rows */
    .tableX .containerD tr:nth-child(even) {
        background-color: #526080;
    }

    .tableX .containerD th {
        background-color: #e9edf0;
    }

    .tableX .containerD td:first-child {
        color: #ece9f0;
    }

    .tableX .containerD tr:hover {
        background-color: #515a75;
        -webkit-box-shadow: 0 6px 6px -6px #515a75;
        -moz-box-shadow: 0 6px 6px -6px #515a75;
        box-shadow: 0 6px 6px -6px #515a75;
    }

    .tableX .containerD td:hover {
        background-color: #606d87;
        color: #606d87;
        font-weight: bold;
        box-shadow: #7F7C21 -1px 1px, #f0efce -2px 2px, #f0efce -3px 3px, #7F7C21 -4px 4px, #f0efce -5px 5px, #7F7C21 -6px 6px;
        transform: translate3d(6px, -6px, 0);
        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
    }

@media (max-width: 800px) {
    .tableX .containerD td:nth-child(4),
    .tableX .containerD th:nth-child(4) {
        display: none;
    }
}
